.whole {
    margin-left: 280px;
    margin-top: 80px;
    width: 100%;
    max-width: 1500px;
    min-height: 100vh;
    height: 100%;
    padding: 16px 24px;
    background: #F8F9FD;
}


.breadcrumb {
    font-size: 14px;
    font-weight: 500;
    color: #2C2F7E;
}

.breadcrumb a {
    font-size: 14px;
    font-weight: 500;
    color: #728DB9;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}


.title h1 {
    font-weight: 600;
    font-size: 26px;
    /* color: #A1b2d1; */
}

.title {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.title button {
    display: inline-flex;
    align-items: center;
    background: #F0F0F0;
    padding: 4px 10px;
    gap: 4px;
    border-radius: 7px;
    color: #606060;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    height: fit-content;
}

.title button img {
    width: 20px;
    height: 20px;
}


.loading {
    width: 100%;
    margin-top: 24px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #2C2F7E;
}


.course {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    margin-top: 24px;
}

.courseInfo {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 16px;
    gap: 8;
    border: 1px solid #BDD9FF;
    box-shadow: 0px 3px 5px 0px #00000017;
}


.infoHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.infoHeader h3 {
    font-weight: 600;
    font-size: 14px;
    font-family: Work 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.infoHeader span {
    font-size: 10px;
    font-weight: 500;
    color: #0c359e;
    background: #E9EFFF;
    padding: 4px;
    border-radius: 5px;
    margin-left: 8px;
}

.infoHeader button {
    margin-left: 10px;
    border: 1px solid #A1B2D1;
    display: flex;
    align-items: center;
    padding: 2px 4px;
    background: transparent;
    border-radius: 5px;
}

.infoHeader button img {
    height: 20px;
    width: 20px;
}


.course p {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 12px;
}


.courseData {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 12px;
}

.courseData img {
    width: 22px;
    height: 22px;
}

.bread {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.crumb {
    display: flex;
    gap: 3px;
}


.courseData .profile,
.courseData .students {
    font-weight: 500;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    gap: 3px;
}

.courseData .profile img {
    border-radius: 50px;
    border: 1px solid #94B9FF66;
    height: 20px;
    width: 20px;
}

.students img {
    width: 50px;
    height: auto;
}

.crumb .profile {
    font-weight: 500;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    gap: 0px;
}

.crumb img {
    width: 13px;
    height: 13px;
}





.buttonn {
    margin-top: 24px;
    width: 100%;
    background: var(--500, #2C2F7E);
    border: 5px solid #E6EAFB;
    color: #FFFFFF;
    padding: 12px 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.coursesLoader p {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    margin-top: 8px;
}

.progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 18px;
    overflow: hidden;
    align-self: center;
    color: #2C2F7E;
    margin-top: 6px;
}

.progress::-webkit-progress-bar {
    background: #ABC0E5;
}

.progress::-webkit-progress-value {
    background: #2C2F7E;
    border-radius: 18px;
}

.progress::-ms-progress-bar {
    background-color: #ABC0E5;
}

.progress::-ms-progress-value {
    background: #2C2F7E;
    border-radius: 18px;
}

.progress::-moz-progress-bar {
    background-color: #ABC0E5;
}

.progress::-moz-progress-value {
    background: #2C2F7E;
    border-radius: 18px;
}








.whole {
    margin-left: 280px;
    margin-top: 80px;
    width: 100%;
    max-width: 1500px;
    min-height: 100vh;
    height: 100%;
    padding: 16px 24px;
    background: #FFFFFF;
}


.breadcrumb {
    font-size: 14px;
    font-weight: 500;
    color: #2C2F7E;
}

.breadcrumb a {
    font-size: 14px;
    font-weight: 500;
    color: #728DB9;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}


.loading {
    width: 100%;
    margin-top: 24px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #2C2F7E;
}

.none {
    width: 100%;
    margin-top: 24px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #2C2F7E;
}


.split {
    width: 100%;
    display: flex;
    gap: 38px;
    margin-top: 48px;
}

.larger {
    flex: 65%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.smaller {
    flex: 35%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.courseTitle {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.courseTitle h3 {
    font-size: 26px;
    font-weight: 600;
    color: #2C2F7E;
}

.courseTitle button {
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #CCCDE8;
    padding: 10px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    color: #2C2F7E;
}

.courseTitle button img {
    width: 18px;
    height: 18px;
}

.titleInfo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 6px 0;
}

.titleInfo .teach,
.titleInfo .stud {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    font-weight: 500;
    color: #374151;
}

.titleInfo .teach img {
    border: 1.5px solid #94B9FF66;
}

.titleInfo .stud {
    margin-left: 14px;
}

.titleInfo .stud img {
    border: 1.2px solid #c4c0c08e;
    margin-left: -12px;
}

.titleInfo img {
    width: 28px;
    height: 28px;
    border-radius: 50px;
}

.loc {
    background: #E9EFFF;
    padding: 6px 12px;
    color: #0C359E;
    font-size: 12px;
    font-weight: 500;
    width: fit-content;
    border-radius: 6px;
}


.courseImg {
    height: 500px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    background-image: url();
}

.courseImg button {
    border-radius: 10px;
    padding: 16px 20px;
    color: #FFFFFF;
    background-color: #2C2F7E;
    border: 5px solid #e6eafb37;
    font-size: 20px;
    font-weight: 500;
}


.tabs {
    display: flex;
    gap: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E2E8F0;
}

.tabs button {
    border: 1px solid #E2E8F0;
    background: transparent;
    border-radius: 8px;
    padding: 8px 20px;
}

.theDetails {
    width: 90%;
}

.theDetails h3 {
    color: #0F172A;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.theDetails p,
.theDetails li {
    color: #5B697D;
    font-size: 16px;
    font-weight: 300;
    margin-top: 4px;
}

.theDetails ul {
    margin-left: 16px;
}

.theDetails h4 {
    margin-top: 12px;
    font-size: 16px;
    color: #2C2F7E;
    font-weight: 600;
}

.theDetails h5 {
    font-weight: 400;
    font-size: 12px;
    color: #334155;
}

.flex {
    display: flex;
    align-items: center;
    margin: 12px 0;
    gap: 12px;
}

.teachPic {
    border-radius: 500px;
    border: 1.8px solid #94B9FF66;
}

.theDetails .details {
    padding-bottom: 20px;
    border-bottom: 1px solid #E2E8F0;
}

.teacherInfo {
    display: flex;
    align-items: center;
    color: #0F172A;
    font-size: 12px;
    font-weight: 400;
    gap: 6px;
}


.completion {
    border: 1px solid #E2E8F0;
    background: #F8FAFC;
    padding: 18px 0;
    border-radius: 16px;
}

.completion h3 {
    padding: 0 14px;
    font-size: 16px;
    font-weight: 600;
    color: #0F172A;
}

.noLessons {
    padding: 14px 16px;
    width: 100%;
}

.accordion {
    padding: 14px 16px;
    border-bottom: 1px solid #E2E8F0;
}

.accordion .accHeader {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 14px;
    font-weight: 600;
    color: #0F172A;
    cursor: pointer;
}

.title h4 {
    font-weight: 500;
    font-size: 14px;
    width: 70%;
}

.len {
    display: flex;
    flex-direction: column;
    color: #64748B;
    text-align: right;
    gap: 5px;
}

.lenn {
    display: flex;
    gap: 4px;
    font-size: 14px;
    color: #64748B;
    text-align: right;
}

.download {
    background: #CCCDE8;
    padding: 4px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    color: #2C2F7E;
    border: none;
    text-align: center;
    cursor: pointer;
}

.download:hover {
    background: #B9BAD6;
}

input[type="file"] {
    display: none;
}




@media screen and (max-width: 830px) {
    .whole {
        margin-left: 0;
    }

    .title h1 {
        font-size: 18px;
    }

    .title button {
        padding: 4px 8px;
        font-size: 12px;
    }

    .title button img {
        width: 16px;
        height: 16px;
    }
}